.music-lib-info {
    background: #dcfddc;
    color: black;
}

.music-lib-form-class {
    display: block;
    max-width: 700px;
}

.music-lib-import-data-form-class {
    background: #dcfddc;
    display: block;
    max-width: 700px;
}

.music-lib-list-error {
    background: #fffbe3;
    color: red;
}

.hide {
  display: none;
}
