{% extends "base.html" %}

{% block content %}
    <h1>Music Library Metadata Explorer</h1>
    <div class="body about-information">
        <p> <br>
            Objective: Make a very simple Music Library Metadata Explorer. <br>
            Its purpose is to be used as a Flask + SQLAlchemy example.<br>
            <br>
            About the demo data: All the MusicLME demo metadata has been entered <br>
            manually over the years as a hobby by the author of MusicLME.<br>
            <br>
            More info here:
            <a href = "https://github.com/japinol7/music-lib-explorer">🚀 Repository on GitHub</a>
            <br> <br>
            Program: music-lib-explorer<br>
            Version: 1.1.0<br>
            Author: Joan A. Pinol<br>
            Author_nickname: japinol<br>
            Author_gitHub: japinol7<br>
            Author_twitter: @japinol<br>
            Python requires: 3.13 or greater.<br>
            <br>
        </p>
    </div> <br> <br>

    <div style="clear:both;color:#174bcc">
        <div style="float:left;background-color:#e9f6f6">
            <hr style="border-width:2px;border-color:#174bcc">
                Starting with version 1.0.3, MusicLME includes a Spotify integration with <br>
                the Spotify REST API that the user can use to get music data from Spotify. <br>
                Regarding the Spotify integration: <br>
                <ul>
                  <li> This product uses the Spotify API but is not endorsed or certified by Spotify.</li>
                  <li> You will need to get a Spotify API access token to use this integration: </li>
                    <a href="https://developer.spotify.com/documentation/" target="_self"
                    >https://developer.spotify.com/documentation/</a>
                </ul>
            <hr style="border-width:2px;border-color:#174bcc">
        </div>
    </div>

{% endblock %}
