{% extends "base.html" %}

{% block content %}
    <h1>Music Library Metadata Explorer</h1>
    <p class="body about-information"><br>
        Objective: Make a very simple Music Library Metadata Explorer. <br>
        Its purpose is to be used as a Flask + SQLAlchemy example.<br>
        <br>
        More info here:
        <a href = "https://github.com/japinol7/music-lib-explorer">🚀 Repository on GitHub</a>
        <br> <br>
        Program: music-lib-explorer<br>
        Version: 1.0.3<br>
        Author: Joan A. Pinol<br>
        Author_nickname: japinol<br>
        Author_gitHub: japinol7<br>
        Author_twitter: @japinol<br>
        Python requires: 3.11 or greater.<br>
        <br>
    </p>
{% endblock %}
