{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <div class="body">
        <p>This is a very simple Music Library Metadata Explorer. Its purpose is to be used as a Flask + SQLAlchemy example.</p>
    </div>

    <div class="body apis-list">
        <p>Let's do something interesting<br> </p>
        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>Button</th>
                <th>Feature</th>
                <th>Comment</th>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Music Library</td>
                        <td>Basic Music Library queries</td>
                        <td>Basic Music Library queries.</td>
                    </tr>
                </tbody>
        </table>
    </div>
{% endblock %}
