{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>

    <div class="body apis-list">
        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>Button</th>
                <th>Feature</th>
                <th>Comment</th>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Sogns</td>
                        <td>Search songs in the Music Library database</td>
                        <td>The form view has a button to import original data added manually <br>
                            by the author of this project</td>
                    </tr>
                    <tr>
                        <td>Albums</td>
                        <td>Search albums in the Music Library database</td>
                        <td>The form view has a button to import original data added manually <br>
                            by the author of this project</td>
                    </tr>
                    <tr>
                        <td>Settings</td>
                        <td>Options to export all the songs' data to Excel  <br>
                            and activate/deactivate the Spotify integration</td>
                        <td>With the Spotify integration activated, you can get some info <br>
                        and links to the albums and artists on Spotify</td>
                    </tr>
                    <tr>
                        <td>About</td>
                        <td>Some info about this application</td>
                        <td></td>
                    </tr>
                </tbody>
        </table>
    </div>
{% endblock %}
