{% extends "base.html" %}

{% block content %}
    <h1>Music Library - Settings</h1>

    <div class="mui-panel">
        <h3>Settings</h3> <br>

        <form class="settings-save-form-class" id="settings_save_form" style="background:#ced4df;max-width: 700px;"
              action="/settings_save_changes" method="POST">
            <input type=checkbox name="flags" id="is_get_spotify_data_flag" style="font-size:7px;"
                   {{'checked="checked"' if data and data.is_get_spotify_data else ""}}
                   value="is_get_spotify_data_flag">
            <label for="is_get_spotify_data_flag">Get additional data from Spotify</label>

            <p> <br>
            <button class="submit-settings-save">Save Settings Changes</button>
            <p>
        </form>

        <br> <br> <br> <br>
        <h3>Export songs data</h3> <br>
        <p>
            <button class="mui-btn mui-btn--raised"><a href="/export_songs_report"
            >Export songs to Excel</a></button>
        <p>
        <br>

        {% if is_error %}
            <div class="music-list-api-call-error">
                <p> <br>
                    <strong>{{ error_msg }}</strong>
                <p> <br>
            </div>
        {% endif %}
    </div>

{% endblock %}
